table {
  width: 100%;
}
section {
  margin: 20px 15px 30px 15px;
}
.button-class {
  margin-right: 10px;
}
.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}
