<app-navbar></app-navbar>
<section class="forgotpasswordform">
  <mat-card>
    <div>
      <h2>Change Password</h2>
    </div>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error
              *ngIf="
                forgotPasswordForm.get('email').invalid &&
                (forgotPasswordForm.get('email').dirty ||
                  forgotPasswordForm.get('email').touched)
              "
              >{{ getErrorMessage() }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Password"
              formControlName="password"
              type="password"
            />
            <mat-error
              *ngIf="
              forgotPasswordForm.get('password').invalid &&
                (forgotPasswordForm.get('password').dirty ||
                forgotPasswordForm.get('password').touched)
              "
              >{{ getErrorMessage() }}</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="forgotPasswordForm.invalid"
          >
            Change
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</section>
